__pycache__/
*.py[cod]

data/*
!data/.gitkeep

results/checkpoints/*
!results/checkpoints/.gitkeep

results/figures/*
!results/figures/.gitkeep

sbatch_jobs/*.out

*.pkl

env/helpfulness_results/out/*
env/helpfulness_results/temp.json
env/helpfulness_results/reference_model.json